{% extends "layout.html" %}
{% block content %}
  <form action="/charge_republican" method="post">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Republican Donation"
            data-amount="500"
            data-locale="auto"></script>
  </form>

    <form action="/charge_democrat" method="post">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Democrat Donation"
            data-amount="500"
            data-locale="auto"></script>
  </form>
{% endblock %}
